body { 
	padding: 0; 
	margin: 0;
	font-family: Helvetica, sans;
}

#draggable { 
	width: 150px; 
	height: 150px; 
	padding: 1em; 
	position: absolute;
}

label { font-size: 0.8em; }
h1 { font-size: 0.8em; }
a { text-decoration: none; color: #ccc; font-size: 0.8em; }
p { font-size: 0.8em; margin: 0.2em 0px 0.2em 0px; }
#about, #help { margin-top: 0.2em; }

#colorPicker { margin-top: 1.2em; }

button { 
	display: block; 
	margin-top: 1.2em;
}
